@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CircularStd";
  src: url("./assets/CircularStd-Medium.otf") format("opentype");
}
@font-face {
  font-family: "CircularStdl";
  src: url("./assets/CircularStd-Light.otf") format("opentype");
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  background-color: #fff;
  overflow: hidden;
}
* {
  font-family: "CircularStdl";
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "CircularStd";
}
